.hand-container {
  display: grid;
  grid-template-columns: 110px 110px;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.hand-container div.selected {
  border: 5px solid salmon;
  border-radius: 10px;
  background-color: salmon;
}

.hand-container div.drawn {
  grid-column: 1 / -1;
}
